@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'aGD';
    font-weight: 400;
    src: url(../public/fonts/aGD14.ttf) format('ttf');
  }
}

@layer components {
  .nft-style {
    @apply bg-[#AA3FFF] rounded-full px-[6px] py-[1px] text-[#FAFAF2];
  }
  .menu-style {
    @apply border-[1px] rounded-[10px];
  }
  .shadow-custom {
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
    /* 수평 수직 블러 확장 */
  }
  .nftMarket-style {
    background-image: linear-gradient(to top, #ffc805, #aa3fff);
  }

  .btn-style {
    @apply w-[276px] h-[53px] rounded-[10px] font-bold text-[20px];
  }
}
